@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html, body {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif; 
    background: black;
    color: white;
    margin: 0;
    min-height: 100vh;
}

.dark-mode {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.subber {
    background-color: rgb(104, 120, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.sub-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(98, 134, 117);
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.sub-id {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 143, 113);
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.subs-header {
    word-spacing: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 95, 95);
    padding-bottom: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}
.subs-list {
    word-spacing: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 68, 59);
    padding-bottom: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
}